.cardpack-container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  background-color: #f4f4f9;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

/* Content container for card pack and info */
.cardpack-content {
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-bottom: 20px;
}

.cardpack-image {
  width: 250px;
  margin-right: 20px; 
  margin-left: 160px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.cardpack-info {
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: left; 
  font-size: 14px;
  color: #333;
}

.cardpack-btn-container{
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 20px 0;
  margin: 25px 0;
}

/* Button */
.open-cardpack-btn {
  padding: 15px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.cardpack-back-btn{
  padding: 15px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  align-items: left;
}