html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.landing-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin-top: 0px;
}

.card-container:hover {
  transform: scale(1.1);
}

.card-image {
  width: 100%;
  height: 100%; /* Ensures the image fills the container */
  object-fit: cover; /* Maintains aspect ratio while filling */
  border-radius: 10px;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: opacity 0.3s;
}

.card-container:hover .card-overlay {
  opacity: 1;
}

.card-title {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.hover-link {
  padding: 10px 15px;
  background-color: #6200ee;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Align to the right */
  gap: 10px; /* Reduce space between elements */
  margin-right: 100px; /* Add spacing from the right */
}

/* Account address styling */
.account {
  color: #555;
  font-size: 15px;
  text-align: right;
}

/* Title container for heading and button */
.pack-container {
  display: flex;
  justify-content: space-between;                                                              /* Ensure button aligns to the right */
  align-items: center;
  margin-bottom: 50px;
  margin-left: 20px;
}
.main-title {
  font-size: 60px;
  color: #333;
  margin: 0;
  text-align: left; /* Align the title to the left */
  margin-left: 100px;
  font-weight: bold;
}

.buy-card-packs-btn {
  padding: 20px 60px;
  background-color: #ccc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  white-space: nowrap; /* Prevent the text from wrapping */
  margin-right: 100px;
}

/* Listings Title and Marketplace Link Container */
.listings-title-container {
  display: flex;
  justify-content: space-between; /* Align title and link */
  align-items: center;
  margin-bottom: 5px;
  margin-left: 30px;
}

.section-title {
  text-align: left;
  font-size: 1.2rem;
  color: #333;
  margin: 0;
  margin-left: 40px;
  margin-bottom: 20px;
}

.section-text {
  text-align: left;
  color: #333;
  margin: 0;
  margin-left: 40px;
  margin-bottom: 20px;
}

.section-no-connect {
  text-align: center;
  color: #333;
}

.go-to-marketplace {
  font-weight: bold;
  color: #6200ee;
  text-decoration: none;
  margin-right: 100px;
}

.go-to-marketplace:hover {
  text-decoration: underline;
}

.go-to-collection {
  font-weight: bold;
  color: #6200ee;
  text-decoration: none;
  margin-right: 100px;
}

.go-to-collection:hover {
  text-decoration: underline;
}

.card-placeholder {
  flex: 1;
  height: 300px;
  background-color: #e0e0e0;
  border-radius: 10px;
}

.landing-collections {
  display: grid;
  gap: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
  margin: 20px 40px 40px 40px;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  max-height: 400px;  /* Adjust based on card height */
}

/* Marketplace Listings */
.landing-listings {
  display: grid;
  gap: 20px;
  overflow-x: hidden;
  overflow-y: visible;
  white-space: nowrap;
  text-overflow: clip;
  margin: 20px 40px 40px 40px;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  max-height: 420px;  /* Adjust based on card height */
}

.landing-card {
  background-color: #fff;
  padding: 10px;
  width: 200px;
  /* height: 300px; */
  flex-shrink: 0;
  border-radius: 10px;
  position: relative;
  flex-direction: column ;
  display: flex;
}

.landing-card-image {
  width: 200px;
  height: 275px;
  background-color: #e0e0e0;
  margin-bottom: 10px;
  border-radius: 0px;
}

.marketplace-landing-card-price {
  font-weight: bold;
  margin: 10px 0;
}

.marketplace-landing-card-title {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 10px;
}

.delete-listing-btn, .place-bid-btn {
  padding: 10px 15px;
  background-color: #6200ee;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Popup Overlay */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Popup Container */
.popup-container {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Popup Input */
.popup-input {
  width: 100%;
  padding: 5px;
  margin: 15px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Popup Buttons */
.popup-buttons {
  display: flex;
  justify-content: space-between;
}

.popup-submit-btn {
  padding: 10px 15px;
  background-color: #6200ee;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup-cancel-btn {
  padding: 10px 15px;
  background-color: #ccc;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup-submit-btn:hover {
  background-color: #4b00c1;
}

.popup-cancel-btn:hover {
  background-color: #bbb;
}

.loading-spinner{
  text-align: right;
}