html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  
  .marketplace-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

.title-container {
    display: flex;
    justify-content: space-between; /* Ensure button aligns to the right */
    align-items: center;
    margin-bottom: 50px;
    margin-left: 20px;
}

.main-title {
font-size: 1.5rem;
color: #333;
margin: 0;
text-align: left;
margin-left: 30px;
}

/* filter container and buttons */
.filter-container {
display: flex;
justify-content: center; 
gap: 20px;
padding: 10px 0;
margin-right: 100px;
margin-top: 20px;
}

.filter-item {
font-size: 1rem;
color: #666; 
cursor: pointer; 
transition: color 0.3s ease; 
}

.filter-item:hover {
color: #000; 
}

.filter-item.active {
color: #007bff; 
font-weight: bold;
}

/* Marketplace Listings */
.marketplace-listings {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
gap: 20px;
overflow-y: auto;
margin: 40px;
flex-direction: column;
}

.marketplace-card {
background-color: #fff;
padding: 10px;
border-radius: 0px;
height: 280px;
flex-shrink: 0;
border-radius: 10px;
position: relative;
flex-direction: column ;
display: flex;
}

.card-image {
width: 100%;
height: 50%;
background-color: #e0e0e0;
margin-bottom: 10px;
border-radius: 0px;
}

.card-price {
font-weight: bold;
margin: 10px 0;
}

.card-title {
font-size: 0.9rem;
color: #666;
margin-bottom: 10px;
}

.place-bid-btn {
padding: 10px 15px;
background-color: #6200ee;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
margin-top: auto;
margin-bottom: 10px;
}
